@import "~@angular/material/theming";

.flexbar {
  display: flex;
  flex-flow: row wrap;
}
.spacer {
  flex: 1 1 auto;
}
.active {
  background-color: white;
  color: mat-color(mat-palette($mat-purple, 700));
}
