<h1 mat-dialog-title *ngIf="!editId">Add gun</h1>
<h1 mat-dialog-title *ngIf="editId">Edit gun</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <mat-select [(ngModel)]="modelId">
      <mat-option *ngFor="let model of models" [value]="model.id">
        {{model.manufacturer.name}} {{model.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button (click)="openAddEditModelDialog({edit: false})">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button *ngIf="modelId" (click)="openAddEditModelDialog({edit: true})">
    <mat-icon>create</mat-icon>
  </button>
  <button mat-icon-button *ngIf="modelId">
    <mat-icon>remove</mat-icon>
  </button>
  <br>
  <mat-form-field>
    <mat-label>Caliber</mat-label>
    <mat-select [(ngModel)]="caliberId">
      <mat-option *ngFor="let caliber of calibers" [value]="caliber.id">
        {{caliber.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button (click)="openAddEditCaliberDialog({edit: false})">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button *ngIf="caliberId" (click)="openAddEditCaliberDialog({edit: true})">
    <mat-icon>create</mat-icon>
  </button>
  <button mat-icon-button *ngIf="caliberId">
    <mat-icon>remove</mat-icon>
  </button>
  <br>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="typeId">
      <mat-option *ngFor="let type of types" [value]="type.id">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button (click)="openAddEditTypeDialog({edit: false})">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button *ngIf="typeId" (click)="openAddEditTypeDialog({edit: true})">
    <mat-icon>create</mat-icon>
  </button>
  <button mat-icon-button *ngIf="typeId">
    <mat-icon>remove</mat-icon>
  </button>
  <br>
  <mat-form-field>
    <mat-label>Production year</mat-label>
    <input matInput [(ngModel)]="productionYear" type="number">
  </mat-form-field>
</div>
<div mat-dialog-actions class="center">
  <button mat-button [disabled]="!modelId || !caliberId || !typeId || !productionYear"
    (click)="doAddOrEdit()">Confirm</button>
  <button mat-button (click)="dialogRef.close({updateList: false})">Cancel</button>
</div>