<div class="root">
  <div class="table">
    <app-gunlist (selectionChanged)="setSelectedItem($event)" [viewUpdater]="viewUpdater"></app-gunlist>
  </div>
  <div class="buttons">
    <button mat-raised-button color="accent" class="space-around" (click)="openAddEditGunDialog({edit: false})">Add</button>
    <button *ngIf="selectedItem" mat-raised-button color="primary" class="space-around" (click)="openAddEditGunDialog({edit: true})">Edit</button>
    <button *ngIf="selectedItem" mat-raised-button color="warn" class="space-around" (click)="openDeleteGunDialog()">Delete</button>
  </div>
</div>